
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


.NavBar {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.NavBar li {
    display: inline;
    margin-right: 1rem;
}


.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}




.book-details {
    flex: 1;
}
