
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


.NavBar {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.NavBar li {
    display: inline;
    margin-right: 1rem;
}